GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_SHEET_NAME=leads
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
CONTACT_FORM_ALLOWED_ORIGIN=http://127.0.0.1:4321
CONTACT_FORM_PRODUCTION_ORIGIN=https://bhcarimbos.com.br
CONTACT_FORM_RATE_LIMIT_WINDOW_SECONDS=60
CONTACT_FORM_RATE_LIMIT_MAX_REQUESTS=3
CONTACT_FORM_DUPLICATE_WINDOW_SECONDS=120
